body {
    background-image: url(background\ image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}
.card {
   text-align: center;
   margin: 10px auto;
  width: 550px;
  border: 3px solid white;
  border-radius: 30px;
 padding: 40px 10px;
 background-color: rgba(0, 0, 0, 0.623);
 margin-top: 130px;
}
#number{
    font-size: 100px;
    color: white;
    margin: 0px;
    padding: 0px;
}
.buttons {
    display: flex;
    justify-content: space-evenly;
   margin: 30px 0px;
   margin-top: 40px;
}
button{
    width: 150px;
    height: 90px;
    font-size: 27px;
   border-radius: 50px;
   color: white;
   border: 4px solid black;
}